# See http://help.github.com/ignore-files/ for more about ignoring files.

.idea
.vs
.vscode
.history
debug.log

src/**/*.js
src/**/*.map
src/**/*.css

# yarn
yarn-error.log

# npm
package-lock.json

# documentation files
/documentation

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/ext